// -----------------------------------------------------------------------------
// This file contains all styles related to the duotone component.
// -----------------------------------------------------------------------------

.duotone {
    margin: 0 auto;
    max-width: 500px;
}

svg {
    color-interpolation-filters: sRGB;
}
