// -----------------------------------------------------------------------------
// This file contains all styles related to the gender-reveal component.
// -----------------------------------------------------------------------------

$boy:  #8ed6e8;
$girl: #ff9e9d;

body {
    overflow: hidden;
    transition: background 1000ms ease;

    &.gender-is-active {
        background-color: $boy;
    }
}

#confetti {
    @extend .hidden;
}

.gender-reveal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    main {
        margin: auto;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;
    }

    #reveal-it {
        @extend .hidden;

        padding: ($base-line-height / 1.5) ($gutter-width * 2);
        font-weight: 400;
        display: inline-flex;
        align-items: center;
        border-radius: 30px;
        white-space: nowrap;
        cursor: pointer;
        text-transform: uppercase;
        overflow: hidden;
        transition: all 400ms ease-out;
        vertical-align: middle;
        background-color: $white;
        border: 2px solid $link-water;
        color: darken($link-water, 30%);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;

        @include type-setting(2);

        @include on-event {
            background-color: $link-water;
        }
    }

    .heading {
        @extend .hidden;

        margin: 0;
        font-family: 'Sansita', sans-serif;
        font-weight: 900;
        font-size: 10vw;
        color: lighten($medium-gray, 18%);

        @include min-screen($medium) {
            font-size: 8vw;
        }

        @include min-screen($xlarge) {
            font-size: 6vw;
        }

        &--boy {
            color: $boy;
        }

        &--girl {
            color: $girl;
        }
    }
}

.reveal {
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 220px;

    &__gender {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;

        &--boy {
            width: 268px;
            top: 39%;
            left: 61%;
        }

        &--girl {
            width: 326px;
            top: 74%;
            left: 74%;
        }

        .svg-container {
            @include svg-responsive (100px, 100px, 100%);
        }

        svg {
            @extend .hidden;
        }
    }
}
