// -----------------------------------------------------------------------------
// This file contains all styles related to the mask component.
// -----------------------------------------------------------------------------

.hide-svg {
    width: 0;
    height: 0;
    position: absolute;
}

.mask {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: $black;
    position: relative;

    .letter-g-wrap {
        transform: translate(50%, 50%);
    }

    .letter-g {
        fill: $white;
    }

    .letter-s {
        transform: scale(8);
        transform-origin: top left;
    }

}
