// -----------------------------------------------------------------------------
// This file contains all styles related to the photo-like component.
// -----------------------------------------------------------------------------

.like {
    margin: 0 auto;
    width: 400px;

    &__photo {
        img {
            width: 100%;
        }
    }

    &__heart {
        width: 220px;

        .svg-container {
            @include svg-responsive (400px, 400px, 100%);
        }

        #grouped-lines line {
            @extend .hidden;
        }

        #heart {
            cursor: pointer;
            color: $light-gray;
            transition: color 300ms ease-out;

            @include on-event {
                color: darken($light-gray, 10%);
            }

            &.is-active {
                color: #e64c3c;
            }
        }
    }
}
