// -----------------------------------------------------------------------------
// This file contains all styles related to the photo-filters component.
// -----------------------------------------------------------------------------

$photoHeight: 500px;
$photoWidth: 750px;

.photo-filters {
    position: relative;
    max-height: 80vh;
    overflow: hidden;

    &__heading {
        position: absolute;
        top: 10%;
        left: 5%;
        z-index: 999;

        h1, h2 {
            margin: 0;
            line-height: 1;
        }

        h1 {
            font-size: 5vw;
            text-transform: uppercase;
            color: $genoa;
        }
        h2 {
            font-size: 4vw;
            text-transform: uppercase;
            color: $link-water;
        }
    }

    &__photo {
        width: 100%;
        height: 0;
        padding-bottom: ($photoHeight / $photoWidth) * 100%;
        position: relative;

        canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }
}

.photos {
    display: flex;

    canvas {

    }
}
