// -----------------------------------------------------------------------------
// This file contains all styles related to the photo-like component.
// -----------------------------------------------------------------------------

:root {
    --bgColor: lighten($beauty-bush, 10%);
    --HeartColor: $beauty-bush;
    --HeartScale: 1;
}

.like {
    width: 100vw;
    height: 100vh;
    background-color: var(--bgColor);
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: scale(var(--HeartScale));

    &__heart {
        margin: auto;
        width: 300px;

        .svg-container {
            @include svg-responsive (400px, 400px, 100%);
        }

        #grouped-lines line {
            @extend .hidden;
        }

        #heart {
            cursor: pointer;
            color: $mojo;
            transition: color 300ms ease-out;

            // @include on-event {
            //     color: darken(#e64c3c, 10%);
            // }

            &.is-active {
                color: $mojo;
            }
        }
    }
}
